<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

{% extends 'base.html' %}

<body>
  
    {% block content %}
    <h1>Sign Up</h1>

    <main>
        {{error}}
        <!---Va a djangoCrud/urls--->
        <form action = "/signup/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>
                signup
            </button>
        </form>
        
    </main>

    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>

    {% endblock %}


</body>

</html>