{% extends 'base.html' %}

{% block content %}

<body>
    <h1>Tasks</h1>

    <ul>
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    {% if task.important %}
                    <td>
                        <a href="{% url 'task_detail' task.id %}"><strong>{{ task.title }}</strong></a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                    </td>
                    {% endif %}
                    <td>{{ task.description }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>{{ task.user }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </ul>
</body>
{% endblock %}

</html>